@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Noto+Serif&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color: #F2EFDF;
    --body-color: #798C8C;
    --contrast-color: #59554C;
    --highlight-color: 208, 217, 212;
}

body {
    font-size: 18px;
    line-height: 1.5;
    background-color: var(--light-color);
    color: var(--body-color);
    background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");

}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

h1, h2, h3 {
    font-family: 'Bitter', serif;
}

h1 {
    line-height: 1.2;
}

#navContainer {
    background-color: rgba(var(--highlight-color), 0.25);
    margin: 20px;
}

#navContainer a {
    color: var(--contrast-color);
}

#navContainer a:hover {
    text-decoration-color: var(--light-color);
}

#navContainer li {
    display: inline;
    margin-right: 10px;
}

#nav {
    margin: 10px;
    text-align: center;
}

body#about img {
    height: 15em;
}

body#portfolio img {
    height: 15em;
}

p {
    max-width: 50em;
    font-family: 'Noto Serif', serif;
}

body {
    display: grid;
    grid-template-areas: 
        "head head"
        "nav nav"
        "main main"
        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 25em) {
    body {
        grid-template-areas:
            "nav head"
            "nav main"
            "nav foot";
        grid-template-rows: auto 1fr auto;
    }

    #nav li {
        display: block;
        /* margin-left: 10px; */
        margin-top: 10px;
    }

    #navContainer {
        overflow-y: auto;
    }

    #nav {
        position: fixed;
        margin-top: 30px;
        text-align: left;
    }
}

body > header {
    grid-area: head;
}

body > #navContainer {
    grid-area: nav;
}

body > #navContainer ul {
    list-style-type: none;
    padding: 0;
}

body > nav ul li {
    /* display: inline; */
    padding-right: 1rem;
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: foot;
}

header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1, footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

body#portfolio ul#portfolioItems li {
    flex-basis: 48%;
    padding-right: 2%;
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}

#portfolioItems a {
    color: var(--contrast-color);
}

#portfolioItems a:hover {
    text-decoration-color: var(--light-color);
}